<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="container mt-5">
    <h1 class="mb-4">Login</h1>
    <form id="loginForm">

        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control">
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary mt-2">Iniciar sesión</button>
    </form>
    <p class="mt-3">¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿Haz olvidado tu contraseña? <a href="/resetPassword">Recuerdala aqui</a></p>
    <a href="/api/sessions/github"><button>Iniciar sesión con Github</button></a>
</div>

<script src="/js/login.js"></script>
{{!-- <script src="/js/resetPassword.js"></script> --}}
