<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Mi tienda virtual</a>
            <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="/carts">
                <i class="fa fa-shopping-cart"></i> Carrito
            </a>
            <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="/products">
                <i class="fa fa-shopping-cart"></i> Productos
            </a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/profile">
                <i class="fa fa-user"></i> Perfil
            </a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/userRole">
                <i class="fa fa-user"></i> Rol
            </a>
        </div>
    </nav>

    {{{body}}}
</body>
</html>